<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Script-setup" data-toc-modified-id="Script-setup-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Script setup</a></span></li><li><span><a href="#Data-directory-preparention" data-toc-modified-id="Data-directory-preparention-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data directory preparention</a></span></li><li><span><a href="#Data-file-preperation" data-toc-modified-id="Data-file-preperation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data file preperation</a></span><ul class="toc-item"><li><span><a href="#input-directory-(all-general-raw-data-files)" data-toc-modified-id="input-directory-(all-general-raw-data-files)-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>input</code> directory (all general raw data files)</a></span></li><li><span><a href="#processed-directory-(all-data-files-produced-in-this-repository)" data-toc-modified-id="processed-directory-(all-data-files-produced-in-this-repository)-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>processed</code> directory (all data files produced in this repository)</a></span></li></ul></li><li><span><a href="#Load-data-functions" data-toc-modified-id="Load-data-functions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Load data functions</a></span></li><li><span><a href="#Load-data-sets" data-toc-modified-id="Load-data-sets-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Load data sets</a></span></li><li><span><a href="#ENTSO-E-generation-per-technology-CI" data-toc-modified-id="ENTSO-E-generation-per-technology-CI-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>ENTSO-E generation per technology CI</a></span><ul class="toc-item"><li><span><a href="#EF-preparation" data-toc-modified-id="EF-preparation-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>EF preparation</a></span></li><li><span><a href="#Plots" data-toc-modified-id="Plots-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Plots</a></span></li></ul></li><li><span><a href="#Compair-Bottom-Up-and-Top-down" data-toc-modified-id="Compair-Bottom-Up-and-Top-down-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Compair Bottom Up and Top down</a></span></li><li><span><a href="#ENTSO-E-Power-Stats-generation-per-technology-CO2-Signal" data-toc-modified-id="ENTSO-E-Power-Stats-generation-per-technology-CO2-Signal-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>ENTSO-E Power Stats generation per technology CO2 Signal</a></span></li><li><span><a href="#convert-to-MWh" data-toc-modified-id="convert-to-MWh-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>convert to MWh</a></span></li><li><span><a href="#Create-a-dataframe-with-the-EF-for-each-country-and-technology.-If-no-specific-EF-is-available,-we-use-the-default-EF-." data-toc-modified-id="Create-a-dataframe-with-the-EF-for-each-country-and-technology.-If-no-specific-EF-is-available,-we-use-the-default-EF-.-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Create a dataframe with the EF for each country and technology. If no specific EF is available, we use the default EF .</a></span></li><li><span><a href="#calculate-emissions-based-on-EF-and-generation-per-type" data-toc-modified-id="calculate-emissions-based-on-EF-and-generation-per-type-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>calculate emissions based on EF and generation per type</a></span></li><li><span><a href="#From-the-previously-calculated-emissions,-an-emission-signal-(g-CO2-/-kWh)-can-now-be-calculated-for-each-country." data-toc-modified-id="From-the-previously-calculated-emissions,-an-emission-signal-(g-CO2-/-kWh)-can-now-be-calculated-for-each-country.-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>From the previously calculated emissions, an emission signal (g CO2 / kWh) can now be calculated for each country.</a></span></li><li><span><a href="#Since-emissions-and-generation-are-available-per-technology,-they-must-first-be-grouped-and-summed." data-toc-modified-id="Since-emissions-and-generation-are-available-per-technology,-they-must-first-be-grouped-and-summed.-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Since emissions and generation are available per technology, they must first be grouped and summed.</a></span></li><li><span><a href="#DK-wärme-wird-dort-viel-von-Kraftwerken-genutzt" data-toc-modified-id="DK-wärme-wird-dort-viel-von-Kraftwerken-genutzt-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>DK wärme wird dort viel von Kraftwerken genutzt</a></span></li><li><span><a href="#EE-hat-ganz-viel-other-fossil-(wir-haben-keine-EF-ausgerechnet)" data-toc-modified-id="EE-hat-ganz-viel-other-fossil-(wir-haben-keine-EF-ausgerechnet)-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>EE hat ganz viel other fossil (wir haben keine EF ausgerechnet)</a></span></li><li><span><a href="#LT" data-toc-modified-id="LT-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>LT</a></span></li><li><span><a href="#LV" data-toc-modified-id="LV-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>LV</a></span></li><li><span><a href="#NO" data-toc-modified-id="NO-19"><span class="toc-item-num">19&nbsp;&nbsp;</span>NO</a></span></li><li><span><a href="#Plotting-CI" data-toc-modified-id="Plotting-CI-20"><span class="toc-item-num">20&nbsp;&nbsp;</span>Plotting CI</a></span></li><li><span><a href="#Export-final-CO2-signals" data-toc-modified-id="Export-final-CO2-signals-21"><span class="toc-item-num">21&nbsp;&nbsp;</span>Export final CO2 signals</a></span></li><li><span><a href="#Plottting" data-toc-modified-id="Plottting-22"><span class="toc-item-num">22&nbsp;&nbsp;</span>Plottting</a></span></li><li><span><a href="#Create-a-dataframe" data-toc-modified-id="Create-a-dataframe-23"><span class="toc-item-num">23&nbsp;&nbsp;</span>Create a dataframe</a></span></li><li><span><a href="#Reorder-it-following-the-values-of-the-first-value:" data-toc-modified-id="Reorder-it-following-the-values-of-the-first-value:-24"><span class="toc-item-num">24&nbsp;&nbsp;</span>Reorder it following the values of the first value:</a></span></li><li><span><a href="#The-vertical-plot-is-made-using-the-hline-function" data-toc-modified-id="The-vertical-plot-is-made-using-the-hline-function-25"><span class="toc-item-num">25&nbsp;&nbsp;</span>The vertical plot is made using the hline function</a></span></li><li><span><a href="#I-load-the-seaborn-library-only-to-benefit-the-nice-looking-feature" data-toc-modified-id="I-load-the-seaborn-library-only-to-benefit-the-nice-looking-feature-26"><span class="toc-item-num">26&nbsp;&nbsp;</span>I load the seaborn library only to benefit the nice looking feature</a></span></li><li><span><a href="#Add-title-and-axis-names" data-toc-modified-id="Add-title-and-axis-names-27"><span class="toc-item-num">27&nbsp;&nbsp;</span>Add title and axis names</a></span></li></ul></div>

# Introduction

This notebook uses the calculated EFs to calculate the CI for EU countries.

# Script setup

In [1]:
import os
import logging

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
from IPython.display import Image 
import datetime
from matplotlib.lines import Line2D

#GEO
import geopandas as gpd
#from pyproj import CRS
#from pyproj import Transformer
#from shapely.geometry import Point

%matplotlib inline
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = [15, 10]
sns.set_theme()

#helpers
from helpers import change_ENTSOE_ProductionTypeName

# Data directory preparention

Create input, processed and output folders if they don't exist
If the paths are relative, the corresponding folders will be created inside the current working directory.
- input -> all needed input data
- processed -> save point and exchange with other scripts
- output -> final emission factors

In [2]:
input_directory_path = os.path.join('input')
processed_directory_path = 'processed'
output_directory_path = os.path.join('output')

os.makedirs(input_directory_path, exist_ok=True)
os.makedirs(processed_directory_path, exist_ok=True)
os.makedirs(output_directory_path, exist_ok=True)

# Data file preperation

## `input` directory (all general raw data files)

- 1) ENTSO-E production per type
Production per type from ENTSO-E
Original data: ENTSO-E Transparency Platform, Actual Generation per Production Type Available online: 
https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show
Processed with the following script that converts the data to hourly resolution (private script from INATECH):


 File - > time_series_60min_multiindex.csv - > generation per technology
 
- 2) ENTSO-E production per unit
Production per Unit from ENTSO-E
Original data: ENTSO-E Transparency Platform, Actual Generation per Generation Unit Available online: https://transparency.entsoe.eu/generation/r2/actualGenerationPerGenerationUnit/show (accessed on Apr 29, 2020).
Processed with the following script that converts the data to hourly resolution (private script from INATECH):
https://github.com/INATECH-CIG/entso-e_GenerationOutputPerUnit

File - > gen_data.csv -> hourly generation data per unit

In [3]:
# Checks if the the input directories are empty or not
# Checks all filenames in the input directory

if not os.listdir(input_directory_path) :
    print("The directory for the bootom up method is empty. Please provide the data to the directory as described in the instructions above.")


filenames = [os.path.join(input_directory_path, fn) for fn in os.listdir(input_directory_path)]

print(filenames)

['input\\Bootom_up_methode', 'input\\CO2_Signal', 'input\\ember_EF.csv', 'input\\entso.csv', 'input\\entsoe-statistical-factsheet-2018-stacked.csv', 'input\\entsoe_gen_type_hourly_table.csv', 'input\\entso_gen_type_hourly_table_scaled.csv', 'input\\entso_scaled.csv', 'input\\gen_data_2015.csv', 'input\\gen_data_2016.csv', 'input\\gen_data_2017.csv', 'input\\gen_data_2018.csv', 'input\\Matching', 'input\\MDV_table.csv', 'input\\time_series_60min_multiindex.csv', 'input\\top_down_methode', 'input\\unit_data_2015.csv', 'input\\unit_data_2016.csv', 'input\\unit_data_2017.csv', 'input\\unit_data_2018.csv']

## `processed` directory (all data files produced in this repository)

- 1) EF per type and county

File - > EF_bottom_up_methode.csv

- 2) EF per unit

File -> generation_unit_EF_bottom_up_methode.csv

In [4]:
# Checks if the the input directories are empty or not
# Checks all filenames in the input directory

if not os.listdir(processed_directory_path) :
    print("The directory for the CO2 Signal is empty. Please provide the data to the directory as described in the instructions above.")


filenames = [os.path.join(processed_directory_path, fn) for fn in os.listdir(processed_directory_path)]

print(filenames)

['processed\\CI_0_top_down.csv', 'processed\\CI_1_top_down.csv', 'processed\\CI_MAP_1_top_down.csv', 'processed\\EF_bottom_up_methode.csv', 'processed\\generation_unit_EF_bottom_up_methode.csv']

# Load data functions

In [5]:
def load_generation_per_unit(path, fn):
    """
    Load the ENTSO-E gernation per unit data.
        
    Parameters
    ----------
    path: str
        path to data
    fn : str
        filename
        
    """
    
    generation = pd.read_csv(os.path.join(path, fn),sep = ',',index_col=0,parse_dates=True)
    
    return generation

def load_unit_CO2_data(path, fn):
    """
    Own generation unit information with CO2 information per unit
        
    Parameters
    ----------
    path: str
        path to data
    fn : str
        filename
        
    """
    
    df = pd.read_csv(os.path.join(path, fn),sep = ',',index_col=0)
    
    # set name for the index
    #df.index.set_names('eic_g', inplace=True)

    return df

def load_EF(path, fn):
    """
    Own generation EF per tech and country
        
    Parameters
    ----------
    path: str
        path to data
    fn : str
        filename
        
    """
    
    df = pd.read_csv(os.path.join(path, fn),sep = ',',index_col=[0,1])
    
    return df

def load_timeseries_ENTSOE(path, fn):
    """
    Read generation data from time-series package own modification.


    Parameters
    ----------
    path : TYPE
        DESCRIPTION.
    fn : TYPE
        DESCRIPTION.

    Returns
    -------
    generation : TYPE
        DESCRIPTION.

    """
   
    generation = (pd.read_csv(os.path.join(path, fn), index_col=[0], header=[0, 1], parse_dates=True)
                    .dropna(how="all", axis=0))
       
    
    return generation

# Load data sets

#### Load ENTSO-E generation per type

In [6]:
entsoe_gen_type = load_timeseries_ENTSOE(input_directory_path, 'entso_gen_type_hourly_table_scaled.csv')

#### Load EF per technology

In [7]:
EF = load_EF(processed_directory_path, 'EF_bottom_up_methode.csv')

# ENTSO-E generation per technology CI

In this section we using the country specific EF for generating the CI for all EU countries. The production data are based on the production per type data from ENTSO-E

In [8]:
# take a look at the generation data
entsoe_gen_type['GB'].sum()/1000

variable
biomass           17900.000
gas              129900.000
hard_coal         16800.000
hydro              5900.000
nuclear           60700.000
other_fossil        720.114
solar             11800.000
wind_offshore     16700.000
wind_onshore      28823.926
dtype: float64

## EF preparation

In [9]:
# take a look at the EF data
EF

                                  EF Verified_EF  EF_round_in_kwh
MapCode ProductionTypeName
AT      gas                 0.288711        True           288.71
        hard_coal           0.884070        True           884.07
BE      gas                 0.389641        True           389.64
CZ      hard_coal           0.985546        True           985.55
        lignite             0.928296        True           928.30
DE      gas                 0.334091       False           334.09
        hard_coal           0.871051        True           871.05
        lignite             1.125560        True          1125.56
        other_fossil        1.619695        True          1619.69
DK      gas                 0.329783       False           329.78
        hard_coal           0.775840        True           775.84
EE      other_fossil        1.057973        True          1057.97
ES      gas                 0.386506        True           386.51
        hard_coal           0.975777        True           975.78
FI      hard_coal           0.674454        True           674.45
        other_fossil        0.759814       False           759.81
FR      gas                 0.276754        True           276.75
        hard_coal           0.480010        True           480.01
GB      gas                 0.467992        True           467.99
        hard_coal           1.103223        True          1103.22
GR      gas                 0.332135        True           332.13
        lignite             1.401712        True          1401.71
HU      gas                 0.371916        True           371.92
        lignite             1.355619        True          1355.62
IE      gas                 0.347416        True           347.42
        hard_coal           1.032204        True          1032.20
IT      gas                 0.387735        True           387.74
        hard_coal           0.997673        True           997.67
NL      gas                 0.353883        True           353.88
        hard_coal           0.948562        True           948.56
PL      gas                 0.370311       False           370.31
        hard_coal           0.942409        True           942.41
        lignite             1.158647        True          1158.65
PT      gas                 0.430328        True           430.33
        hard_coal           0.546439        True           546.44
RO      gas                 0.315028       False           315.03
        hard_coal           1.157439        True          1157.44
        lignite             1.000763        True          1000.76
SE      gas                 0.361805         NaN           361.80
SK      hard_coal           0.903090        True           903.09
        lignite             1.295547        True          1295.55

In [10]:
EF.loc[('EE','other_fossil'),:] = (2.61969,'True',2619.69)

In [11]:
# Mean EF for all calculated countries and technologies

EF_mean = EF.groupby('ProductionTypeName').mean()
# Using a mean EF for other fossils of 0.75 because we only cover some countries with other fossils and the resulting mean EF would be above 1.0, which seems too high
EF_mean.loc['other_fossil'] = 0.75
EF_mean = EF_mean.EF.to_dict()


print(EF_mean)

{'gas': 0.35900222581420127, 'hard_coal': 0.8851859083359056, 'lignite': 1.180877690651492, 'other_fossil': 0.75}

In [12]:
# If no country-specific EFs are available and also no mean EF is available for a country and technology, we use the following EFs. Source:

EF_default = {'biomass':0,
            'geothermal':0,
            'hydro':0,
            'nuclear':0,
            'oil':0.8,
            'other_renewable':0,
            'solar':0,
            'waste':0.5,
            'wind_offshore':0,
            'wind_onshore':0,
            'marine':0,
            'oil shale':0.51}

In [13]:
# Create a dataframe with the EF for each country and technology. If no specific EF is available, we use the default EF .
EF_multi = {}

for i in entsoe_gen_type.columns:
    if i in EF:
        EF_multi[i] = EF[i]
    elif i[1] in EF_mean:
        EF_multi[i] = EF_mean[i[1]]
    else:
        EF_multi[i] = EF_default[i[1]]

In [14]:
# calculate emissions based on EF and generation per type
CO2_emission_entsoe_gen_type = entsoe_gen_type * EF_multi

In [15]:
# From the previously calculated emissions, an emission signal (g CO2 / kWh) can now be calculated for each country.
# Since emissions and generation are available per technology, they must first be grouped and summed. 

# Emission in g CO2
CO2_emission = (CO2_emission_entsoe_gen_type * 1000000).groupby(level=0, axis=1).sum()
# generation in kWh
Generation = (entsoe_gen_type * 1000).groupby(level=0, axis=1).sum()

# CI in g CO2/kWh
Carbon_intensitiy_entsoe_gen_type = CO2_emission.div(Generation)

In [16]:
Carbon_intensitiy_entsoe_gen_type.head(5)

region,AT,BE,BG,CH,CY,CZ,DE,DE_50hertz,DE_LU,DE_amprion,...,PT,RO,RS,SE,SE_1,SE_2,SE_3,SE_4,SI,SK
utc_timestamp,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00+00:00,95.997437,107.702573,476.152331,0.0,711.769154,467.519104,203.737850,281.926436,NaN,346.353648,...,144.573785,387.587510,876.580777,52.145929,0.0,0.0,0.0,0.0,271.173375,211.369544
2018-01-01 01:00:00+00:00,95.449637,112.234283,476.282388,0.0,703.608227,464.353234,202.443739,280.253746,NaN,344.373983,...,149.265248,377.915576,899.839133,52.648221,0.0,0.0,0.0,0.0,265.765252,210.050208
2018-01-01 02:00:00+00:00,101.842360,118.035454,477.156868,0.0,663.884415,461.088924,199.259350,283.304784,NaN,345.580837,...,140.286894,393.905553,906.242587,49.125930,0.0,0.0,0.0,0.0,247.451093,204.232719
2018-01-01 03:00:00+00:00,107.100022,117.312441,476.634042,0.0,662.996651,464.027580,199.880647,279.122770,NaN,348.024601,...,145.855889,402.293776,887.342307,49.262182,0.0,0.0,0.0,0.0,255.053308,193.937479
2018-01-01 04:00:00+00:00,106.155478,116.671115,477.814810,0.0,698.348891,469.998642,197.974934,278.072889,NaN,345.729379,...,146.321519,405.327405,903.696366,48.770799,0.0,0.0,0.0,0.0,256.638702,197.214690

In [17]:
mean_Carbon_intensitiy_entsoe_gen_type = CO2_emission.sum() / Generation.sum()

In [18]:
Carbon_intensitiy_entsoe_gen_type_mean = Carbon_intensitiy_entsoe_gen_type.copy()

In [19]:
for i in Carbon_intensitiy_entsoe_gen_type_mean.columns:
    Carbon_intensitiy_entsoe_gen_type_mean[i] = mean_Carbon_intensitiy_entsoe_gen_type[i]

In [20]:
Carbon_intensitiy_entsoe_gen_type_mean.head()

region,AT,BE,BG,CH,CY,CZ,DE,DE_50hertz,DE_LU,DE_amprion,...,PT,RO,RS,SE,SE_1,SE_2,SE_3,SE_4,SI,SK
utc_timestamp,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00+00:00,125.638706,181.426899,522.209822,0.0,717.675735,549.922862,437.634915,622.124994,428.374915,616.372986,...,278.738978,345.794814,839.208687,40.896989,0.0,0.0,0.0,0.0,338.559414,202.017206
2018-01-01 01:00:00+00:00,125.638706,181.426899,522.209822,0.0,717.675735,549.922862,437.634915,622.124994,428.374915,616.372986,...,278.738978,345.794814,839.208687,40.896989,0.0,0.0,0.0,0.0,338.559414,202.017206
2018-01-01 02:00:00+00:00,125.638706,181.426899,522.209822,0.0,717.675735,549.922862,437.634915,622.124994,428.374915,616.372986,...,278.738978,345.794814,839.208687,40.896989,0.0,0.0,0.0,0.0,338.559414,202.017206
2018-01-01 03:00:00+00:00,125.638706,181.426899,522.209822,0.0,717.675735,549.922862,437.634915,622.124994,428.374915,616.372986,...,278.738978,345.794814,839.208687,40.896989,0.0,0.0,0.0,0.0,338.559414,202.017206
2018-01-01 04:00:00+00:00,125.638706,181.426899,522.209822,0.0,717.675735,549.922862,437.634915,622.124994,428.374915,616.372986,...,278.738978,345.794814,839.208687,40.896989,0.0,0.0,0.0,0.0,338.559414,202.017206

## Plots

# Compair Bottom Up and Top down

In [27]:
CI_1_top_down = pd.read_csv(os.path.join(processed_directory_path,'CI_1_top_down.csv'), index_col=0)

#CI_MAP_1_top_down = pd.read_csv(os.path.join(processed_directory_path,'CI_MAP_1_top_down.csv'), index_col=0)


#CI_top_down.rename(columns={'UK':'GB'}, inplace = True)

In [28]:
CI_compar = pd.DataFrame()
CI_compar.index.rename('country',inplace=True)

In [29]:
CI_compar.index

Index([], dtype='object', name='country')

In [30]:
CI_compar['CI_1_top_down'] = CI_1_top_down.loc[2018].filter(mean_Carbon_intensitiy_entsoe_gen_type.index.to_list())

In [31]:
#CI_compar['CI_MAP_1_top_down'] = CI_MAP_1_top_down.loc[2018].filter(mean_Carbon_intensitiy_entsoe_gen_type.index.to_list())

In [33]:
CI_compar['CI_bottom_up'] = mean_Carbon_intensitiy_entsoe_gen_type.filter(CI_compar.index.to_list())

CI_compar['diff_bottom_up_vs_CI_1_top_down'] = CI_compar['CI_bottom_up'] - CI_compar['CI_1_top_down']
CI_compar['diff_pro_1'] = round((100 / CI_compar['CI_bottom_up']) * CI_compar['diff_bottom_up_vs_CI_1_top_down'])

#CI_compar['diff_bottom_up_vs_CI_1_top_down'] = CI_compar['CI_bottom_up'] - CI_compar['CI_1_top_down']
#CI_compar['diff_pro_1'] = round((100 / CI_compar['CI_bottom_up']) * CI_compar['diff_bottom_up_vs_CI_1_top_down'])

In [34]:
round(CI_compar, 2).sort_values(by='diff_pro_1')

,CI_1_top_down,CI_bottom_up,diff_bottom_up_vs_CI_1_top_down,diff_pro_1
country,,,,
FR,56.57,34.99,-21.59,-62.0
EE,943.07,639.06,-304.01,-48.0
NO,19.45,13.68,-5.77,-42.0
BE,218.56,181.43,-37.14,-20.0
GB,256.56,214.51,-42.05,-20.0
NL,465.48,395.48,-70.00,-18.0
PT,326.01,278.74,-47.27,-17.0
GR,691.17,592.57,-98.60,-17.0
IE,369.52,336.75,-32.77,-10.0
PL,833.30,811.24,-22.06,-3.0
CY,703.98,717.68,13.70,2.0
DE,423.38,437.63,14.26,3.0
HU,265.61,283.25,17.64,6.0
ES,291.10,313.69,22.59,7.0
RO,308.48,345.79,37.32,11.0
CZ,470.43,549.92,79.49,14.0
BG,449.79,522.21,72.42,14.0
AT,106.16,125.64,19.48,16.0
SI,260.85,338.56,77.71,23.0
DK,200.42,262.13,61.71,24.0
IT,262.45,357.48,95.03,27.0
FI,115.63,162.44,46.81,29.0
SK,144.24,202.02,57.78,29.0
LV,148.24,218.85,70.61,32.0
LT,60.45,121.74,61.30,50.0
SE,13.29,40.90,27.60,67.0

In [39]:
CI_compar.
loc['IT']['test'] = 4

C:\Users\Freddy\.conda\envs\Lecture\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Freddy\.conda\envs\Lecture\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [37]:
import pycountry
for i in CI_compar.index:
    CI_compar['country_name'] = pycountry.countries.get(alpha_2=i).name

Austria
Belgium
Bulgaria
Cyprus
Czechia
Germany
Denmark
Estonia
Spain
Finland
France
United Kingdom
Greece
Hungary
Ireland
Italy
Lithuania
Latvia
Netherlands
Norway
Poland
Portugal
Romania
Sweden
Slovenia
Slovakia

In [36]:
round(CI_compar, 2).sort_values(by='diff_pro_1').to_csv(output_directory_path + '/CI_table.csv')

# ENTSO-E Power Stats generation per technology CO2 Signal

MDV = pd.read_csv(input_directory_path + '/MDV_table.csv', index_col=[0], header=[0, 1], parse_dates=True)

MDV.loc['2018'].head(5)

# convert to MWh
MDV = MDV * 1000

# Create a dataframe with the EF for each country and technology. If no specific EF is available, we use the default EF .
EF_multi = {}

for i in MDV.columns:
    if i in EF:
        EF_multi[i] = EF[i]
    elif i[1] in EF_mean:
        EF_multi[i] = EF_mean[i[1]]
    else:
        EF_multi[i] = EF_default[i[1]]

# calculate emissions based on EF and generation per type
CO2_emission_MDV = MDV * EF_multi

# From the previously calculated emissions, an emission signal (g CO2 / kWh) can now be calculated for each country.
# Since emissions and generation are available per technology, they must first be grouped and summed. 
CO2_emission_MDV = (CO2_emission_MDV * 1000000).groupby(level=0, axis=1).sum()
Generation_MDV = (MDV * 1000).groupby(level=0, axis=1).sum()

Carbon_intensitiy_MDV = CO2_emission_MDV.div(Generation_MDV)

#take only year 2018
Carbon_intensitiy_MDV = Carbon_intensitiy_MDV.loc['2018']



mean_Carbon_intensitiy_MDV = CO2_emission_MDV.loc['2018'].sum() / Generation_MDV.loc['2018'].sum()

MDV['DE'].sum().sum()




CI_compar['CI_MDV'] = mean_Carbon_intensitiy_MDV
CI_compar['CI_FACT'] = mean_Carbon_intensitiy_FACT

CI_compar['diff_MDV'] =CI_compar['CI_MDV'] -  CI_compar['CI_top_down_ref']
CI_compar['diff_FACT'] =CI_compar['CI_FACT'] -  CI_compar['CI_top_down_ref']


CI_compar['diff_MDV_pro'] = round((100 / CI_compar['CI_top_down_ref']) * CI_compar['diff_MDV'])

CI_compar['diff_FACT_pro'] = round((100 / CI_compar['CI_top_down_ref']) * CI_compar['diff_FACT'])

entsoe_gen_type['SE'].sum()/1000

mean_Carbon_intensitiy_entsoe_gen_type['SE'].sum()/1000

CI_compar
#gründe warum CI_bottom up zu hoch
# DK wärme wird dort viel von Kraftwerken genutzt
# EE hat ganz viel other fossil (wir haben keine EF ausgerechnet)
# LT
# LV
# NO

Information about the data shown. The reference value shown here is not an official value, but can be used as a reference, since it is based on a documented and freely available method.

energy_comp = pd.DataFrame()

energy_comp['MDV'] = MDV['2018'].sum()

energy_comp['entsoe'] = entsoe_gen_type.sum()

energy_comp['diff'] = energy_comp['MDV'] - energy_comp['entsoe']
energy_comp['missing_pro'] = round((100 / energy_comp['MDV']) * energy_comp['diff'])

energy_comp.loc['DE']

ember_CF = pd.read_csv(os.path.join(input_directory_path,'ember_EF.csv'))

# Plotting CI

world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

world[world.name == 'Germany']

import pycountry

pycountry.countries.search_fuzzy('Norway')

import numpy as np


def do_fuzzy_search(country):
    try:
        result = pycountry.countries.search_fuzzy(country)
        return result[0].alpha_2
    except:
        return np.nan

world["country_code"] = world["name"].apply(lambda country: do_fuzzy_search(country))

world.set_index('country_code', inplace=True)

world['CI'] = Carbon_intensitiy_entsoe_gen_type.mean()

world[world.name == 'France']

world.plot(column='CI')

from mpl_toolkits.axes_grid1 import make_axes_locatable

fig, ax = plt.subplots(1, 1)

fig.suptitle("Density difference plot for " + country, fontsize=16)

divider = make_axes_locatable(ax)

cax = divider.append_axes("right", size="5%", pad=0.1)

world.plot(column='CI',
           ax=ax,
           cax=cax,
           legend=True,
           legend_kwds={'label': "Capacity density diff per NUTS region [MW/km²]", 'orientation': "vertical"},
           cmap='Blues',
           edgecolor='k')


ax.text(0.05, 0.05,'Mean Cap. difference ' + str(round(world.CI.mean())) + ' [MW]',\
        ha='left', va='center', transform=ax.transAxes, fontsize=15, color='white',\
        bbox={'facecolor': 'royalblue', 'alpha': 0.5, 'pad': 5})

ax.title.set_text('Density difference plot for capacities in the NUTS regions')

# Export final CO2 signals

Carbon_intensitiy_entsoe_gen_type.to_csv(processed_directory_path + '/CI_bottom_up_methode.csv')
Carbon_intensitiy_entsoe_gen_type.to_csv(output_directory_path + '/CI_bottom_up_methode.csv')

# Plottting

CI_compar.index

import numpy as np
# Create a dataframe
#value1=np.random.uniform(size=20)
#value2=value1+np.random.uniform(size=20)/4
#df = pd.DataFrame({'group':list(map(chr, range(65, 85))), 'value1':value1 , 'value2':value2 })

CI_compar

# Reorder it following the values of the first value:
ordered_df = CI_compar.sort_values(by='CI_bottom_up')
my_range=range(1,len(CI_compar.index)+1)
 
# The vertical plot is made using the hline function
# I load the seaborn library only to benefit the nice looking feature
import seaborn as sns
plt.hlines(y=my_range, xmin=ordered_df['CI_top_down_ref'], xmax=ordered_df['CI_bottom_up'], color='grey', alpha=0.4)
plt.scatter(ordered_df['CI_top_down_ref'], my_range, color='skyblue', alpha=1, label='CI_top_down_ref')
plt.scatter(ordered_df['CI_bottom_up'], my_range, color='green', alpha=0.4 , label='CI_bottom_up')
plt.legend()
 
# Add title and axis names
plt.yticks(my_range, ordered_df.index)
plt.title("Comparison of the CI_top_down_ref and the CI_bottom_up", loc='left')
plt.xlabel('Value of the variables')
#plt.ylabel(ordered_df.index)

df